/* ----------------------- footer Styles ----------------------------
#####################################################################
------------------------------------------------------------------ */
footer {
  background: #222;
}

#footer .container {
    background: #222;
}

footer p {
  margin: 12px 0;
}

footer p,
footer p a {
  color: #999;
}

footer a:hover {
  color: #fff;
}

/* -------------------- End of footer Styles ------------------------
#####################################################################
------------------------------------------------------------------ */

/* ------------------------- form Styles ----------------------------
#####################################################################
------------------------------------------------------------------ */

form label {
  margin: 0 0 1em;
  display: block;
}

/* ---------------------- End of form Styles ------------------------
#####################################################################
------------------------------------------------------------------ */

/* -------------------- .main-content Styles ------------------------
#####################################################################
------------------------------------------------------------------ */


/* ---------------------- Styling .cat-head -----------------------*/

.cat-head {
  
}

@media (min-width: 768px) and (max-width: 991px) {
   .cat-head {
    border: 1px solid green;
    float: left;
  }
}

@media (min-width: 992px) {
  .cat-head {
    float: right;
    border: 1px solid red;
  }
}

/* ------------------ End of Styling .cat-head --------------------*/

.main-content {
 margin: 80px 0 0;
}

.main-content .row {
 margin: 0 0 30px;
}

/* ------------------ End of .main-content Styles -------------------
#####################################################################
------------------------------------------------------------------ */

/* ------------------------- nav Styles -----------------------------
#####################################################################
------------------------------------------------------------------ */

nav a:hover {
  opacity: 0.8;
}

nav h1 {
  margin: 0;
  color: #fff;
}

.navbar-brand {
  font-size: 28px;
}

/* removing top and bottom margin for smaller devices */
@media screen and (max-width: 767px) {
  .navbar-nav {
    margin: 0 -15px;
  }
}

/* --------------------- End of nav Styles --------------------------
#####################################################################
------------------------------------------------------------------ */

/* hiding the content for a moment so it is easier to see the footer */
.main-content {
  /*display: none;*/
}