/* ------------------------- form Styles ----------------------------
#####################################################################
------------------------------------------------------------------ */

form label {
  margin: 0 0 1em;
  display: block;
}

/* ---------------------- End of form Styles ------------------------
#####################################################################
------------------------------------------------------------------ */

/* -------------------------- Headings ------------------------------
#####################################################################
------------------------------------------------------------------ */

h2 {
  margin: 30px 0 10px;
  line-height: 1.2;
  background: url(../images/repeating-bg-pixel.png) repeat;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
   -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
        box-shadow: 0 2px 3px rgba(0,0,0,0.15);
        0 0 5px 5px #FFFFFF
}

/* ---------------------- End of headings ---------------------------
#####################################################################
------------------------------------------------------------------ */

/* -------------------- .main-content Styles ------------------------
#####################################################################
------------------------------------------------------------------ */

/* ---------------------- Styling .cat-head -----------------------*/

@media (max-width: 767px) {
  .cat-head {
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

   .cat-head {
    margin: 0 30px 0 0;
    float: left;
    /*border: 1px solid green;*/ 
  }

}

@media (min-width: 992px) {
  .cat-head {
    float: right;
    /*border: 1px solid red;*/
  }
}

/* ------------------ End of Styling .cat-head --------------------*/

.main-content {
 margin: 80px 0 0;
}

.main-content .row {
 margin: 0 0 30px;
}

/* -------------- Styling .col-md-8 .img-responsive --------------*/

.col-md-8 .img-responsive {
  padding: 4px;
  border: 1px solid #ccc;
  background: #fff;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
     -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.15);
          box-shadow: 0 2px 3px rgba(0,0,0,0.15);
}

  @media screen and (min-width: 768px) {

    .col-md-8 .img-responsive {
      float: right;
    }

  }

/* ---------- End of Styling .col-md-8 .img-responsive ------------*/

/* ------------------ End of .main-content Styles -------------------
#####################################################################
------------------------------------------------------------------ */

/* ------------------------- nav Styles -----------------------------
#####################################################################
------------------------------------------------------------------ */

nav a:hover {
  opacity: 0.8;
}

nav h1 {
  margin: 0;
  color: #fff;
}

.navbar-brand {
  font-size: 28px;
}

/* removing top and bottom margin for smaller devices */
@media screen and (max-width: 767px) {
  .navbar-nav {
    margin: 0 -15px;
  }
}

/* --------------------- End of nav Styles --------------------------
#####################################################################
------------------------------------------------------------------ */

/* ----------------------- footer Styles ----------------------------
#####################################################################
------------------------------------------------------------------ */
footer {
  background: #222;
}

#footer .container {
    background: #222;
}

footer p {
  margin: 12px 0;
}

footer p,
footer p a {
  color: #ccc;
}

footer a:hover {
  color: #fff;
}

/* -------------------- End of footer Styles ------------------------
#####################################################################
------------------------------------------------------------------ */

/* hiding the content for a moment so it is easier to see the footer */
.main-content {
  /*display: none;*/
}

/* ------------------------------- Parallax Background ----------------------------------
#### http://www.webdesignerdepot.com/2013/07/how-to-create-a-simple-parallax-effect/ ####
-------------------------------------------------------------------------------------- */
.bg {
  background: url(../images/parallax-bg.png) repeat;
  position: fixed;
  width: 100%;
  height: 300%;
  top:0;
  left:0;
  z-index: -1;
}