footer {
  background: #222;
}

#footer .container {
    background: #222;
}

footer p {
  margin: 12px 0;
}

footer p,
footer p a {
  color: #999;
}

footer a:hover {
  color: #fff;
}

form label {
  margin: 0 0 1em;
  display: block;
}

.main-content {
 margin: 57px 0 0;
 padding: 30px;
}

nav h1 {
  margin: 0;
  color: #fff;
}

.navbar-brand {
  font-size: 28px;
}

/* --- styles for sticky footer -------------------------------------
------------------------------------------------------------------ */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer ---------------------
------------------------------------------------------------------ */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -48px;
}

  /* this seems to be the breakpoit for nexus 4, may need to conform to bootstrap media queries later, we will see */
  /*@media screen and (max-width: 384px) {*/
  @media screen and (max-width: 479px) {

    #wrap {
      margin: 0 auto -64px;
    }
    
  }

/* End of Wrapper for page content to push down footer --------------
------------------------------------------------------------------ */

/* Set the fixed height of the footer here --------------------------
------------------------------------------------------------------ */
#push,
#footer {
  height: 48px;
}

/* this seems to be the breakpoit for nexus 4, may need to conform to bootstrap media queries later, we will see */
/* @media screen and (max-width: 384px) { */
@media screen and (max-width: 479px) {

  #push,
  footer {
    height: 64px;
  }

}

/* End of #push and #footer for page content to push down footer ----
------------------------------------------------------------------ */

/* removing top and bottom margin for smaller devices */
@media screen and (max-width: 767px) {
  .navbar-nav {
    margin: 0 -15px;
  }
}

/* hiding the content for a moment so it is easier to see the footer */
.main-content {
  /*display: none;*/
}